.three-articles-about {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
    background-color: $background-screen;
    padding: 2em;
    text-align: center;
    line-height: 1.8em;
        @media (max-width: 500px) {
            display: block;
            text-align: center;
        }
    
        i {
            padding-bottom: 0.5em;
            
        }
        h3 {
        font-size: 2em;
        padding-bottom: 1em;
    }
}

.three-articles-about article {
	width: 20%;
}

article:nth-child(0) {
    align-self: center;
}