

.add-new-plan{
    width: calc(100vw - 336px);
    height: calc(100vh - 155px);
    margin: 30px 70px;
    background-color: $background-screen;
    border: 1px dashed $tables_and-icons;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $header_column-text;
    padding-top: 50px;

    .top-bar {
        width: 100%;
        font-weight: 600;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        

        .title{
            text-transform: uppercase;
            font-family: $text-font;
            color: $buttons_screen-headers;
            font-size: 2rem;
        }

    }
}