.add-receipe-form {
    width: calc(100vw - 336px);
    height: calc(100vh - 155px);
    margin: 30px 70px;
    background-color: $background-screen;
    border: 1px dashed $tables_and-icons;
    display: flex;
    flex-direction: column;
    color: $header_column-text;
    font-weight: 600;
    text-align: left;

    .container {
      padding: 30px;
}
}

.add-receipe-header {
	display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    h1 {
        font-size: 1.75rem;
        text-transform: uppercase;
        text-align: left;
        color: $buttons_screen-headers;

      }
    button {
        padding: 6px 10px;
        border: none;
        font-weight: 600;
        background-color: $buttons_screen-headers;
        color: #ffffff;
        cursor: pointer;
        margin-bottom: 0.5em;
    }
}

.add-receipe-overall-form {
	display: flex;
    padding: 0.5em;

    label {
        font-size: 1.5em;
        font-weight: 400;
        width: 179px;
        text-align: left;
    }
    input {
        flex: 1;
        padding: 0 10px;
        margin-left: 0.5em;
        width: 720px;
        font-size: 0.9em;

        &#new-receipe-name {
            height: 30px;
        }

        &#new-receipe-description {
            height: 72px;
        }
    }
}

.add-receipe-details {
    display: flex;
    flex-direction: row;

    .recipe-instruction {
        width: 45%; margin-right: 20px;
    }

    .instruction-list {
        overflow-y: scroll;
    }
    ul {
        display: flex;
    }

.recipe-instruction {


    span {
        height: 10em;
    }
    input {
        width: 30vw;
    }
}
    .recipe-description {
        .description-list {
            overflow-y: scroll;

            ul {
                display: flex;
                flex-direction: column;

                li {
                    &:before {
                        content: '\2022';
                        width: 1em;
                        float: left;
                    }
                }
            }
        }
    }
}