body{
    display: flex;
    flex-direction: column;
/* CTA + button */
    .CTA {
        width: 100%;
        height: 20vh;
        background-color: $nav-side-panel;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .text{
            color: white;
            font-family: $text-font, sans-serif;
            font-weight: 400;

            h3{
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
        }

        .button{
            .go-to-app{
                padding: 0.7rem 2rem;
                background-color: $food-logo-color;
                color: white;
                font-size: 0.8rem;
                border: none;
                font-weight: 600;
            }
        }
    }

}