body {
  background: url("https://trello-attachments.s3.amazonaws.com/5dfce9c99c054649291e13e7/5dfce9c99c054649291e1459/x/a06d789d971be1786ad9b53ac57bb689/image.png");
  font-family: $text-font;
}

.app-header {
  background-color: $header_column-text;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 20px;

  h1 {
    font-family: $logo-font;
    font-size: 2em;

    #first {
      font-weight: 100;
      color: #ffffff;
    }

    #second {
      color: $buttons_screen-headers;
      font-weight: 700;
     }
  }

  .user {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: #ffffff;
      padding-right: 25px;
    }
    i {
      color: $buttons_screen-headers;
      font-size: 2.7rem;
    }
  }
}
main {
  display: flex;

aside {
  height: calc(100vh - 90px);
  background-color: $nav-side-panel;
  width: 276px;

  div {
    color: #ffffff;
    font-size: 1.5rem;
    height: 75px;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    a{
      text-decoration: none;
      color: white;
    }

    i.fas.fa-chevron-right {
      color: $buttons_screen-headers;
      font-size: 1.2rem;
      display: none;
    }

    &:hover {
      border-left: 4px solid $buttons_screen-headers;
      font-weight: 600;

      i.fas.fa-chevron-right {
        display: block;
      }
    }
  }
}

  .greeting-section {
    width: calc(100vw - 336px);
    height: calc(100vh - 155px);
    margin: 30px 70px;
    background-color: $background-screen;
    border: 1px dashed $tables_and-icons;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $header_column-text;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;

    h2 {
      font-size: 2.3rem;
      line-height: 3.5rem;
      padding-bottom: 20px;
    }

    h4 {
      font-size: 1.5rem;
      line-height: 2.2rem;
      width: 320px;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
      width: 410px;
    }

    form.name-insert {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;

      input {
        margin-bottom: 10px;
        padding: 0 10px;
        width: 292px;
        height: 30px;
      }

      button {
        background-color: $buttons_screen-headers;
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        padding: 6px 10px;
        width: 126px;
      }
    }
  }
}