.footer {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	background-color: $nav-side-panel;
	padding: 2em;
        @media (max-width: 500px) {
        display: block;
        text-align: center;
    }
}
.footer span {
	width: 20%;
	align-content: center;
}
.copywright {
    text-align: center;
    background-color: $background-screen;
    padding: 1em;
}