@mixin display_flex($color, $font-size) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size;
  color: $color;
  border-bottom: 1px solid $tables_and-icons;
}
@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.week-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-screen;
  border: 1px dashed $tables_and-icons;

  h4 {
    color: $buttons_screen-headers;
    text-align: center;
    font-size: 1.3rem;
  }

  .week-days {
    @include display_flex($nav-side-panel, 1.5rem);
    height: 50px;
    width: 95%;
    border-top: 1px solid $tables_and-icons;
  }
  .meals-plan, .grid {
    width: 94%;
    margin: 0 auto;
    .row {
      @include clearfix;

      [class*="col-"] {
        float: left;
        min-height: 50px;
      }

      @for $i from 1 through 7 {
        .col-#{$i} {
          width: (100%/7) * $i;
        }
      }

    }

    .breakfast, .second-breakfast, .soup, .main_course, .supper {
      @include display_flex($tables_and-icons, 1.3rem);
      align-items: center;
    }

    .breakfast, .soup, .supper {
      height: 50px;
    }

    .second-breakfast, .main_course {
      height: 75px;
    }
  }
}