
$nav-side-panel: #5B605F; //panel boczny, nawigacja
$header_column-text;#4a4a49; //   - nagłówek, , kolor tekstu w kolumnach
$buttons_screen-headers: #FF6600; //  - przyciski, wyróżnienia, nagłówki ekranów
$background-screen: #FFFFFA; // - kolor tła ekranów
$info-message: #3498DB; // - kolor wiadomości typu info,
$warning-message: #FFB03B;   //  - kolor wiadomości typu warning
$success-message: #468966; //  - kolor wiadomości typu success
$basket-icon: #BD4932;   // - kolor ikony kosza
$tables_and-icons: #A1A194;    //  - kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
$food-logo-color: #E58A20;




