//fonts link

@import url("https://fonts.googleapis.com/css?family=Charmonman:400,700|Open+Sans:300,400,400i,600,700,800&display=swap&subset=latin-ext");


$text-font: 'Open Sans';   // - tekst
$logo-font: 'Charmonman';   // - logo
$base-font-size: 14px;     // - wielkość bazowa


