.three-articles-about {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	background-color: grey;
	@media (max-width: 500px) {
		display: block;
		text-align: center;
	}
        h3 {
        font-size: 1.5em;
    }
}

.three-articles-about article {
	width: 20%;
}

